*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#cards{
    width: 100%;
    height: 100vh;
    background: yellow;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cards .back{
    width: 344px;
    height: calc(344px/2);
    background: blue;
    border-radius: 16px;
    padding: 32px 0;
    display: none;
    /* position: absolute;
    top: 0px; */
}

#cards .line{
    width: 100%;
    height: 40px;
    background-color: rgb(44, 44, 73);
}

#cards .cvv{
    display: flex;
    flex-direction: row;
    width: calc(90%-160px);
    margin: 5%;
    background: white;
    padding: 5px 80px;
    justify-content: flex-end;
    align-items: center;
}

#cards .cvv input{
    width: 40px;
    margin-left: 5px;
}

#cards .front{
    width: 344px;
    height: calc(344px/2);
    background: blue;
    border-radius: 16px;
    padding: 32px 0;
}

#cards img{
    height: 50px;
    width: 60px;
}

.card-header{
    display: flex;
    flex-direction: row;
}

.card-header h1{
    margin-left: 40%;
    color: aliceblue;
}

.number{
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    margin-top: 20px;
    justify-content: space-between;
}

.number input{
    width: 70px;
}

.date{
    display: flex;
    flex-direction: row;
    margin: 20px 0 0 30%;
}

.date p{
    color: aliceblue;
    font-size: 80%;
}

.card-footer{
    margin: 20px 0 0 10px;
}

.card-header img{
    margin-left: 20px;
}